@use 'color';
@use 'type';

// Customizations to reveal.js stylesheets.

@import './node_modules/reveal.js/css/theme/template/mixins';
@import './node_modules/reveal.js/css/theme/template/settings';

$backgroundColor: color.$dark;

$mainColor: color.$white;
$headingColor: color.$white;

$mainFontSize: inherit;
$mainFont: type.$fonts;
$headingFont: type.$fonts;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: color.$light;
$linkColorHover: color.$light-alt;
$selectionBackgroundColor: color.$light-alt;

$heading1Size: 2.45em;
$heading2Size: 2.075em;
$heading3Size: 1.725em;
$heading4Size: 1.45em;

// Change text colors against light slide backgrounds
@include light-bg-text-color( color.$dark );


@import './node_modules/reveal.js/css/theme/template/theme';



// Additional customizations or overrides.

header {
  position: absolute;
  width: 100vw;
  max-width: 100%;
  color: color.$white;
  line-height: type.$leading;
}
