@use 'color';
@use 'size';
@use 'media';
@use 'fa';
@use 'type';



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: color.$dark;
  color: color.$white;
}

header,
main,
footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

header {
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns:
      minmax(size.$buffer, 1fr)
      minmax(320px, 960px)
      minmax(size.$buffer, 1fr);
  background-color: color.$accent;
  border-bottom: 5px solid color.$bold;

  h1, p {
    grid-column: 2/3;
    margin: 0;
  }

  h1 { grid-row: 2/3; }
  p { grid-row: 1/2; }

  @include media.media('>=sm') {
    grid-template-columns:
      minmax(size.$buffer, 1fr)
      minmax(160px, 720px)
      minmax(160px, 240px)
      minmax(size.$buffer, 1fr);

    h1 {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    p {
      grid-column: 3/4;
      grid-row: 1/2;
    }
  }

}

main,
footer {
  display: grid;
  grid-template-columns:
    minmax( size.$buffer, 1fr )
    minmax( 320px, 960px )
    minmax( size.$buffer, 1fr );

  > * {
    grid-column: 2/3;
  }
}

h1 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto 1fr;
  align-items: center;

  [class*='fa-'] {
    font-size: 75px;
  }
}

h2 {
  border-bottom: 2px solid color.$bold;
}

a {
  transition: all 0.3s ease;
  border-bottom: 2px solid color.$light;
  color: color.$light;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    border-color: color.$light-alt;
    color: color.$light-alt;
  }

  &:focus {
    outline: 2px solid color.$accent;
  }
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  padding: 2rem;
  border: 2px solid color.$dark;
  border-radius: 15px;
  background: color.$light;
  color: color.$dark;

  img {
    object-fit: cover;
    margin: 0 auto 1rem auto;
    border-radius: 15px;
  }
}

blockquote {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 2px solid color.$bold;
}

dt {
  display: inline;
  font-weight: 600;

  &::after {
    content: ':';
  }
}

dd {
  display: inline;
  margin: 0;
}



.highlight {
  padding: 0 0.25rem;
  background-color: color.$light;
  color: color.$dark;
  letter-spacing: 0.0625em;
}



.full {
  grid-column: 1/-1;
  padding: 2rem size.$buffer;
  background-color: color.$accent;

  > * {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }

  img {
    display: block;
    max-width: 100%;
  }
}



.twitter-tweet {
  margin: 0 !important;

  .positive & {
    margin: 0;
    padding: 0.5rem;
    border-radius: 15px;
    background-color: color.$bold;
    color: color.$dark;
  }
}

.news,
.reactions {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat( auto-fit, minmax( 300px, 1fr ) );
}

.reactions {
  padding: 20px size.$buffer;
}



.video-embed {
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  background-color: color.$light-alt;
  background-image: url("/cctp631/dist/images/gavel.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.play {
  cursor: pointer;
  position: absolute;
  top: calc( 50% - 40px -2rem );
  padding: 2rem 3rem;
  border: 5px solid color.$bold;
  background-color: color.$accent;
  color: color.$white;
  font: inherit;
  font-size: 40px;
  font-weight: 600;
}

.video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}



.illustrate {
  @include media.media('>=md') {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 2fr 3fr;

    img {
      margin-bottom: 0;
    }
  }
}

.compare-fat {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat( auto-fit, minmax( 300px, 1fr ) );

  img {
    height: 250px;
  }
}



footer {
  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 0 0 1rem 2rem;
      text-indent: -2rem;

      a {
        word-break: break-all;
      }
    }
  }
}
