$breakpoints: (
  xs: 500px,
  sm: 768px,
  md: 1024px,
  lg: 1200px ) !default;

@import './node_modules/include-media/dist/include-media';

@import './node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import './node_modules/@fortawesome/fontawesome-free/scss/brands';
@import './node_modules/@fortawesome/fontawesome-free/scss/solid';
@import './node_modules/@fortawesome/fontawesome-free/scss/regular';

$fa-font-path: '../webfonts' !default;


$dark: #1B2B38;
$light: #E9E683;
$light-alt: #C6D08D;

$accent: #098389;
$accent-dark: #086F74;

$bold: #E9AB17;

$white: #fff;
$black: #000;



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $dark;
  color: $white;
  font-size: 20px;
  font-family: 'Oxygen', Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

header,
main,
footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

header {
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns:
      minmax(2vw, 1fr)
      minmax(320px, 960px)
      minmax(2vw, 1fr);
  background-color: $accent;
  border-bottom: 5px solid $bold;

  h1, p {
    grid-column: 2/3;
    margin: 0;
  }

  h1 { grid-row: 2/3; }
  p { grid-row: 1/2; }

  @include media('>=sm') {
    grid-template-columns:
      minmax(2vw, 1fr)
      minmax(160px, 720px)
      minmax(160px, 240px)
      minmax(2vw, 1fr);

    h1 {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    p {
      grid-column: 3/4;
      grid-row: 1/2;
    }
  }

}

main,
footer {
  display: grid;
  grid-template-columns:
    minmax( 2vw, 1fr )
    minmax( 320px, 960px )
    minmax( 2vw, 1fr );

  > * {
    grid-column: 2/3;
  }
}

h1 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto 1fr;
  align-items: center;
  font-size: 24px;
  line-height: 1.2;

  @include media('>=sm') {
    font-size: 36px;
  }

  [class*='fa-'] {
    font-size: 75px;
  }
}

h2 {
  border-bottom: 2px solid $bold;
  font-size: 22px;

  @include media('>=sm') {
    font-size: 28px;
  }
}

a {
  transition: all 0.3s ease;
  border-bottom: 2px solid $light;
  color: $light;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    border-color: $light-alt;
    color: $light-alt;
  }

  &:focus {
    outline: 2px solid $accent;
  }
}

img {
  max-width: 100%;
}

blockquote {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 2px solid $bold;
}

dt {
  display: inline;
  font-weight: 600;

  &::after {
    content: ':';
  }
}

dd {
  display: inline;
  margin: 0;
}



.right {
  float: right;
  width: 25vw;
  margin: 0.5rem 0 2rem 2rem;
}

.highlight {
  padding: 0 0.25rem;
  background-color: $light;
  color: $dark;
  letter-spacing: 0.0625em;
}



.full {
  grid-column: 1/-1;
  padding: 2rem 2vw;
  background-color: $accent;

  > * {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }

  img {
    display: block;
    max-width: 100%;
  }
}



.reactions {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat( auto-fit, minmax( 250px, 1fr ) );
  padding: 20px 2vw;
}



.video-embed {
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  background-color: $light-alt;
  background-image: url("/cctp631/dist/images/gavel.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.play {
  cursor: pointer;
  position: absolute;
  top: calc( 50% - 40px -2rem );
  padding: 2rem 3rem;
  border: 5px solid $bold;
  background-color: $accent;
  color: $white;
  font: inherit;
  font-size: 40px;
  font-weight: 600;
}

.video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}



.compare-fat {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat( auto-fit, minmax( 250px, 1fr ) );

  figure {
    margin: 0;
  }

  img {
    object-fit: cover;
    height: 250px;
    margin-bottom: 1rem;
  }
}



footer {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin: 0 0 1rem 2rem;
    text-indent: -2rem;
  }

  a {
    word-break: break-all;
  }
}
